<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0eKgnEA3DEUQKDndRhYsmcjyZDSgDQgM</string>
	<key>GCM_SENDER_ID</key>
	<string>339498186993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.TravelRecordApp</string>
	<key>PROJECT_ID</key>
	<string>travelrecordapp-8aa31</string>
	<key>STORAGE_BUCKET</key>
	<string>travelrecordapp-8aa31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339498186993:ios:04f10d44b55f05e4f39150</string>
</dict>
</plist>